POSTGRES_DB=bluetag
POSTGRES_USER=bluetag
POSTGRES_PASSWORD=change-this-db-password
JWT_SECRET=change-this-long-random-secret
JWT_EXPIRES_IN=7d
TAG_WRITE_MIN_INTERVAL_MS=15000
TAG_MOVE_MIN_METERS=30
TAG_SAME_LOCATION_WRITE_INTERVAL_MS=300000
TAGS_CACHE_TTL_MS=5000
TAGS_LIST_LIMIT=300
TAG_RETENTION_DAYS=30
TAG_CLEANUP_INTERVAL_MS=3600000
EXPO_PUBLIC_BACKEND_BASE_URL=http://103.216.159.209
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
WEB_PORT=80
