node_modules/
dist/
.expo/
.venv/
.env

android/.gradle/
android/app/build/
android/build/
android/.cxx/
android/local.properties

ios/Pods/
ios/build/

backend/node_modules/

firmware/esp32_bluetag_compat/.pio/

.DS_Store
